@value colors: '../../colors.css';
@value gray200, gray300, gray400, gray600 from colors;

.container {
  background-color: gray600;
  height: 100%;
  padding: 1rem;
}

.empty {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.times {
  color: gray400;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.label {
  color: gray400;
  font-size: 0.75rem;
}

.value {
  color: gray300;
  font-size: 0.875rem;
}

.ownerBody {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 0.75rem;
  align-items: center;
}

.ownerInfo {
  display: grid;
  grid-template-rows: auto auto;
  grid-gap: 0.25rem;
}

.avatar {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

.speciality {
  composes: value;
  text-transform: uppercase;
}