@value colors: '../../colors.css';
@value gray100, gray700 from colors;

.container {
  margin-bottom: 0.75rem;
}

.header {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 0.5rem 0.75rem 0.375rem;
  background-color: gray700;
  color: gray100;
}

.body {
  padding: 1rem;
  border: 2px solid gray700;
}

.ownerBody {
  display: flex;
  align-items: center;
}