@value colors: '../../colors.css';
@value gray200, gray700, purple from colors;

.title {
    color: gray200;
    padding: 0 0.25rem 0.75rem;
    border-bottom: 4px solid purple;
    font-size: 1.25rem;
}