@value colors: './colors.css';
@value gray200, gray500, gray700 from colors;

.container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 100vh;
    background-color: gray700;
    padding: 0.75rem;
}

.main {
    margin-top: 0.5rem;
    flex: 1;
    display: flex;
    overflow: hidden;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 28rem;
}

.search {
    border-radius: 2px;
    padding: 0.5rem;
    border: 1px solid gray500;
    background-color: transparent;
    margin-bottom: 0.75rem;
    color: gray200;
    display: flex;
}

.searchInput {
    background-color: transparent;
    font-size: 0.75rem;
    color: gray200;
    border: none;
    margin-left: 0.5rem;
    flex: 1;
}

.searchInput:focus {
    outline: none;
}